h2{
text-align: center;
font-size: 12px;
color: black;
background-color: blue;
border-style: ridge;


}


#d1{
border: solid;
border-color: rgb(110, 33, 33);
border-radius: 100%;
padding-top: 5px;
height: 200px;
width: 50px;
}

p{

margin-top: 100px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 80px;

}

div {

width: 20px;
border-radius: 15px solid green;
padding: 50px;
margin: 200px;

}


table, th, td{

border: 1px solid;
color: rgb(0, 0, 0);
padding: 5px;


}
th{
    background-color: aqua;
    height: 30px;
}

td{

    text-align: center;
}

a{
    color: rgb(223, 211, 211);
}

a:link, a:visited{
background-color: green;
text-align: center;
border-radius: 5px;


}